.a{
    width: 200px;
}

.pfp,
.info{
    display: inline-block;
    vertical-align: middle;
    margin: 6px 6px;
}


.cat{
    width: 70px;
    height: 70px;
    border-radius: 60px;
    object-fit: cover;
}



.name,
.gender,
.fame{
    margin: 0px 0px;
}

.name{
    font-size: 18px;
    font-weight: 700;
}

.gender,
.fame{
    font-size: 18px;
    color: rgb(119, 118, 118);
}